@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap");

$backgroundPrimaryColor: #1d1d1d;
$backgroundSecondaryColor: white;
$primaryColor: #da3e52;
$secondaryColor: white;

/* Box Model Hack */
* {
	box-sizing: border-box;
	border: none;
}

/* Standard*/
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	background: $backgroundPrimaryColor;
	color: $primaryColor;
}
::-webkit-scrollbar-thumb {
	background: $primaryColor;
}

@keyframes hero {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes waving {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(0);
	}
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-size: 62.5%;
	color: $secondaryColor;
	text-align: center;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a:active,
a:link,
a:visited {
	color: $primaryColor;
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
	background-color: $backgroundPrimaryColor;
	padding: 20px 25px;
	position: relative;

	& nav {
		display: flex;
		display: 100%;
		font-size: 2rem;
		justify-content: space-between;

		& ul {
			display: flex;
			gap: 30%;
		}

		& > a {
			border: $primaryColor 3px solid;
			border-radius: 25px;
			padding: 5px 20px;
			background-color: $primaryColor;
			&:active,
			&:link,
			&:visited {
				color: $secondaryColor;
			}
			&:hover {
			}
		}
	}
}

main {
	background-color: $backgroundPrimaryColor;
	font-size: 2.2rem;
	position: relative;
	box-shadow: 0px 30px 30px -30px black;
	padding: 30px 0px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	& h1 {
		color: $secondaryColor;
		animation: hero 800ms ease-out 300ms backwards;
		& span {
			color: $primaryColor;
		}
	}
	& p {
		margin: auto;
		max-width: min(95%, 700px);
		text-align: center;
		animation: hero 800ms ease-out 300ms backwards;
	}

	& ul {
		display: flex;
		flex-direction: row;
		padding: 20px 0px;
		justify-content: space-evenly;
		width: min(95%, 800px);
		font-size: 5rem;
		animation: hero 800ms ease-out 300ms backwards;
	}

	& > span {
		font-size: 1.6em;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

.background {
	height: 600px;
	background-image: url("https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
	background-size: cover;
}

#stack {
	background-color: $backgroundPrimaryColor;
	font-size: 2.5rem;
	position: relative;
	padding: 30px 0px;
	box-shadow: 0px -30px 30px -30px black;
	& h2 {
		padding: 20px 0px;
	}

	& ul {
		display: flex;
		justify-content: space-evenly;
		font-size: 7rem;
		padding: 20px 0px;

		& li {
			width: min(100px, 20%);
			text-align: center;
			font-size: 100%;
			animation: hero 800ms ease-out 300ms backwards;
		}
	}
}

#projects {
	background-color: $backgroundSecondaryColor;
	color: #1d1d1d;
	font-size: 2.5rem;
	padding: 20px;
	display: flex;
	width: 100%;
	flex-direction: column;
	animation: hero 800ms ease-out 300ms backwards;

	& h2,
	& h3 {
		width: 100%;
		padding: 20px 0px;
	}

	& > section {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2%;

		& .project {
			background-color: $backgroundPrimaryColor;
			color: $backgroundSecondaryColor;
			border-radius: 20px;
			box-shadow: 5px 5px 5px black;
		}
	}

	& ul {
		display: flex;
		justify-content: space-evenly;
		font-size: 3rem;
		padding: 20px 0px;
	}
}

#contact {
	display: flex;
	flex-direction: column;
	background-color: $backgroundPrimaryColor;
	font-size: 2.5rem;
	position: relative;
	padding: 10px 0px;
	box-shadow: 0px 0px 2px black;
	height: 400px;
}

.copyright {
	background-color: $backgroundPrimaryColor;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 10px;
	margin-top: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

span {
	color: $primaryColor;
}

i {
	color: $secondaryColor;
}
